name: Delete-old-workflow-runs
on:
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * 0'
# Runs at 18:00, only on Sunday.

jobs:
  Delete-old-workflow-runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.ACTION_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 1
          keep_minimum_runs: 3
